# Vivado project
friscv-system-hw/
*.xpr
*.cache/
*.runs/
*.sim/
*.hw/
*.ip_user_files/
*.jou
*.log
.Xil/
*.str/
vivado_pid*
NA/
dfx_runtime.txt

# Block designs - ignore everything except .tcl files
bd/*
!bd/*/
bd/*/*
!bd/*/*.tcl

# Bitstreams and implementation outputs
*.bit
*.bin
*.mcs
*.xsa
*.elf

# Do not ignore generated overlays
!overlay/*.bit
!overlay/*.hwh

# Synthesis and implementation reports
*.rpt
*.dcp

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints/

# Xilinx compiled files
*.xclbin

# Test build artifacts
test/*.o
test/*.elf
test/*.bin
test/*.dis
