[submodule "software/opensbi"]
	path = software/opensbi
	url = https://github.com/riscv-software-src/opensbi.git
[submodule "verif/arch-test/riscv-arch-test"]
	path = verif/arch-test/riscv-arch-test
	url = https://github.com/riscv/riscv-arch-test.git
