CONFIG_HAVE_DOT_CONFIG=y
CONFIG_PLATFORM_LINUX=y

# Build settings
CONFIG_STATIC=y
CONFIG_CROSS_COMPILER_PREFIX="riscv64-linux-gnu-"
CONFIG_SYSROOT=""
CONFIG_EXTRA_CFLAGS=""
CONFIG_EXTRA_LDFLAGS=""

# Core
CONFIG_SHOW_USAGE=y
CONFIG_FEATURE_VERBOSE_USAGE=y
CONFIG_LONG_OPTS=y
CONFIG_FEATURE_DEVPTS=y

# Applets
CONFIG_ASH=y
CONFIG_ASH_JOB_CONTROL=y
CONFIG_SH_IS_ASH=y
CONFIG_CAT=y
CONFIG_CP=y
CONFIG_DATE=y
CONFIG_DMESG=y
CONFIG_ECHO=y
CONFIG_FALSE=y
CONFIG_GREP=y
CONFIG_KILL=y
CONFIG_LS=y
CONFIG_MKDIR=y
CONFIG_MOUNT=y
CONFIG_MV=y
CONFIG_PS=y
CONFIG_RM=y
CONFIG_SH=y
CONFIG_SLEEP=y
CONFIG_TRUE=y
CONFIG_UMOUNT=y
CONFIG_UNAME=y
CONFIG_VI=y
CONFIG_CLEAR=y
CONFIG_FREE=y
CONFIG_HEAD=y
CONFIG_TAIL=y
CONFIG_WC=y
CONFIG_SEQ=y
CONFIG_TEST=y
CONFIG_PRINTF=y
CONFIG_UPTIME=y
CONFIG_HALT=y
CONFIG_POWEROFF=y
CONFIG_REBOOT=y
CONFIG_INIT=y
CONFIG_FEATURE_USE_INITTAB=y
